body {
    font-family: "Roboto", sans-serif;
    background-color: white;
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.32px;
}
.logo{
    color: #2e2f42;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.54px;
}
.logo-span {
    color: #4d5ae5;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 21px;
    letter-spacing: 0.54px;
    word-wrap: break-word
}
.line{
    color: #2E2F42;
    font-weight: 500;
    line-height: 24px;
}
.line-span {
    color: #2e2f42;
}
.line-span:focus {
    color: #404bbf;
}
.line-span:hover{
    color: #404bbf
}
.line-three{
    line-height: 24px;
}
.section-one {
    background-color: #2e2f42;
}
.class-one{
    color: white;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;
}
.order-button {
    background-color: #4d5ae5;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: inherit;
    line-height:1.5;
    letter-spacing: 0.04em;
}
.order-button:hover {
    background-color: #404BBF;
}
.order-button:focus {
    cursor: pointer;
    background-color: #404bbf;
}
.section-two-main-title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0,02em;
}
.title {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.text {
    line-height: 24px;
}
.sections-main-title {
    color: #2E2F42;
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}
.section-three {
    background-color: #f4f4fd;
}
.section-three-title {
    background-color: #FFFFFF;
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.section3-text {
    background-color: #FFFFFF;
    font-weight: 400;
    line-height: 24px;
}
.footer {
    background-color: #2e2f42;
}
.footer-logo {
    color: #F4F4FD;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0,02em;
}
.footer-text {
    color: #F4F4FD;
    line-height: 24px;
}