body {
    font-family: "Roboto", sans-serif;
    background-color: white;
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.32px;
}
.Logo{
    color: #2e2f42;
    font-size: 18px;
    font-family: "Raleway";
    font-weight: 700;
    text-transform: uppercase;
    line-height: 21px;
    letter-spacing: 0.54px;
}
.Line2{
    color: #2E2F42;
    font-weight: 500;
    line-height: 24px;
}
.Line3{
    line-height: 24px;
}
.section1 {
    background-color: #2e2f42;
}
.h1{
    color: white;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
}
.Order-Button {
    background-color: #4d5ae5;
    color: white;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
}
.Order-Button:hover {
    background-color: #404bbf;
}
.title {
    color: #2E2F42;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.40px;
}
.text {
    line-height: 24px;
}
.section3 {
    background-color: #f4f4fd;
}
.section3-title {
    background-color: white;
    color: #2E2F42;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.40px;
}
.section3-text {
    background-color: white;
    font-weight: 400;
    line-height: 24px;
}
.footer {
    background-color: #2e2f42;
}
.footer-logo {
    color: #F4F4FD;
    font-size: 18px;
    font-family: "Raleway";
    font-weight: 700;
    text-transform: uppercase;
    line-height: 21px;
    letter-spacing: 0.54px;
}
.footer-text {
    color: #F4F4FD;
    line-height: 24px;
}